.Weather {
	border: 1px solid black;
	border-radius: 8px;
	color: #878787;
	color: rgb(135, 135, 135);
	padding: 16px;
	margin: 30px auto;
	max-width: 600px;
}

.Weather form {
	margin-bottom: 20px;
	width: 900px;
}

.Weather h1 {
	font-size: 24px;
	font-weight: 100;
	margin: 20px 0 0 0;
	line-height: 29px;
}

.Weather ul {
	margin: 0;
	padding: 0;
}

.Weather li {
	font-size: 16px;
	font-weight: 100;
	line-height: 19px;
	list-style: none;
}

.Weather .btn {
	max-width: 50%;
	margin-left: -10px;
}

.Weather canvas {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 10px;
}

.Weather .temperature {
	font-weight: 400;
	color: #878787;
	font-size: 55px;
	line-height: 90px;
}

.Weather .unit {
	font-size: 16px;
	color: rgb(33, 33, 33);
	font-weight: 400;
	position: relative;
	top: -32px;
	margin-left: 5;
	line-height: 1;
}

.Weather .temp {
	display: inline-block;
}
